@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
font-family:monospace;
}
.custombg {
  background-image: url('https://cdn.wallpapersafari.com/9/18/iLVBIR.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.typed{
  letter-spacing: 1px;
  height: 300px;
  padding: 20px;
  padding-left: 60px;
  font-weight: 600;
  text-align: left;
  font-family:monospace;

}
.header{
  margin-top:50px;
  text-align: center;
  font-family:monospace;
}
.right{
  font-style: cursive;
}

