@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
font-family:monospace;
min-height:fit-content ;
}
.typed{
  margin:50px;
  height: 35%;
  letter-spacing: 1px;
  font-weight: 600;
  font-family:monospace;
  font-size: 35px;
  font-weight: 700;
  color:rgb(29, 77, 149);
  text-transform: uppercase;
}
.header{
  font-family:monospace;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.right{
  font-style: cursive;
}
.home-text{
  width: 60%;
  margin-top: 40px;
  padding-top:40px
}
.home-image{
  width: 50%;
  margin: 2%;
  padding-top: 50px;
}
.links{
  margin: auto;
  display:flex;
  width: fit-content;
}
@media(max-width:600px){
  .typed{
  height: 100px;
  padding: 5px;
  padding-left:5%;
  font-size: 25px;
  }
  .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .home-image{
    padding-top: 10px;
    width: 100%;
  }
  .home-text{
    width: 100%;
    margin-top: 20px;
    padding-top:20px
  }
  .links{
    margin: auto;
    display:flex;
    flex-direction: column;
    width: fit-content;
  }
}

